@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Century Gothic', sans-serif;; 
}

    .txt-left {
        text-align: left;
    }

    .txt-center {
        text-align: center;
    }

    .txt-justify {
        text-align: justify;
    }

    .txt-right {
        text-align: right;
    }

    .txt-lowercase {
        text-transform: lowercase;
    }

    .txt-capitalize {
        text-transform: capitalize;
    }

    .txt-uppercase {
        text-transform: uppercase;
    }

    .d-grid {
        display: grid;
        grid-gap: 30px;
        width: 100%;
    }

    .grid-gap-0 {
        grid-gap: 0;
    }

    .g-12 {
        grid-template-columns: repeat(12,1fr);
    }

    .g-11 {
        grid-template-columns: repeat(11,1fr);
    }

    .g-10 {
        grid-template-columns: repeat(10,1fr);
    }

    .g-9 {
        grid-template-columns: repeat(9,1fr);
    }

    .g-8 {
        grid-template-columns: repeat(8,1fr);
    }

    .g-7 {
        grid-template-columns: repeat(7,1fr);
    }

    .g-6 {
        grid-template-columns: repeat(6,1fr);
    }

    .g-5 {
        grid-template-columns: repeat(5,1fr);
    }

    .g-4 {
        grid-template-columns: repeat(4,1fr);
    }

    .g-3 {
        grid-template-columns: repeat(3,1fr);
    }

    .g-2 {
        grid-template-columns: repeat(2,1fr);
    }

    .g2-1-9 {
        grid-template-columns: 0.2fr 1.8fr;
    }

    .g2-2-8 {
        grid-template-columns: 0.4fr 1.6fr;
    }

    .g2-3-7 {
        grid-template-columns: 0.6fr 1.4fr;
    }

    .g2-4-6 {
        grid-template-columns: 0.8fr 1.2fr;
    }

    .g2-5-5 {
        grid-template-columns: 1fr 1fr;
    }

    .g2-6-4 {
        grid-template-columns: 1.2fr 0.8fr;
    }

    .g2-7-3 {
        grid-template-columns: 1.4fr 0.6fr;
    }

    .g2-8-2 {
        grid-template-columns: 1.6fr 0.4fr;
    }

    .g2-9-1 {
        grid-template-columns: 1.8fr 0.2fr;
    }

    .g-1 {
        grid-template-columns: 1fr;
    }

    .d-flex {
        display: flex;
        width: 100%;
    }

    .flex-column {
        flex-direction: column;
    }

    .flex-column-reverse {
        flex-direction: column-reverse;
    }

    .flex-row {
        flex-direction: row;
    }

    .flex-row-reverse {
        flex-direction: row-reverse;
    }

    .justify-left {
        justify-content: flex-start;
    }

    .justify-center {
        justify-content: center;
    }

    .justify-right {
        justify-content: flex-end;
    }

    .justify-between {
        justify-content: space-between;
    }

    .align-content-top {
        align-items: flex-start;
        align-content: flex-start;
    }

    .align-content-center {
        align-items: center;
        align-content: center;
    }

    .align-content-bottom {
        align-items: flex-end;
        align-content: flex-end;
    }

    .flex-wrap {
        flex-wrap: wrap;
    }

    .flex-nowrap {
        flex-wrap: nowrap;
    }

    .formato {
        width: 100%;
        min-width: 100%;
        border-collapse: collapse;
    }

    thead .th {
        height: 120px;
    }

    tfoot .tf {
        height: 30px;
    }

    thead .th-normal {
        padding: 5px;
        font-size: 0.7em;
        border: 1px solid black;
    }

    tbody.informacion td {
        padding: 5px;
        font-size: 0.7em;
        border: 1px solid black;
    }

    .header {
        width: 100%;
        height: 80px;
    }
    
    .header table {
        width: 100%;
        position: fixed;
        top: 0mm;
        min-width: 100%;
        border-collapse: collapse;
    }
    
    .header table th div {
        width: 100%;
        padding: 10px 0px;
    }
    
    .header table th .empresa {
        border-bottom: 3px solid #0070BF;
    }

    .header table th p {
        width: 100%;
        padding: 10px 0px;
        font-weight: 500;
        font-size: 1.2em;
        line-height: 0;
        font-family: 'bahnschrift', sans-serif;
    }

    .header table th span {
        width: 100%;
        font-weight: 500;
        font-family: 'bahnschrift', sans-serif;
    }

    .footer {
        width: 100%;
        min-width: 100%;
        position: fixed;
        padding: 10px 0px 5px 0px;
        bottom: 0;
        font-size: 0.7em;
        border-top: 3px solid #0070BF;
    }

    @media print {
        /* footer {
            position: fixed;
            bottom: 0;
        }

        .content-block, p {
            page-break-inside: avoid;
        }

        html, body {
            width: 210mm;
            height: 297mm;
        } */
    }
/* } */
