@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Inter', sans-serif; 
    -webkit-print-color-adjust: exact;
}

/* @media print { */

    .reporte {
        width: 100%;
        min-height: 100vh;
    }
    
    .encabezado {
        width: 100%;
    }
    
    .encabezado table {
        width: 100%;
        min-width: 100%;
        border-collapse: collapse;
    }
    
    .encabezado table th {
        padding: 10px;
        font-size: 2em;
        border: 1px solid black;
    }
    
    .encabezado table tbody td {
        border: 1px solid hsl(0, 0%, 0%);
    }
    
    .encabezado table tbody .logo {
        width: 350px;
        height: 100px;
        background-color: hsl(0, 49%, 40%);
        margin: auto;
    }
    
    .reporte .encabezado table tbody td,
    .reporte .seguimiento table thead th,
    .reporte .seguimiento table tbody td,
    .reporte .seguimiento table tfoot td {
        padding: 5px;
        font-size: 0.7em;
    }
    
    .reporte_producción .seguimiento {
        width: 100%;
        padding-top: 20px;
        display: grid;
        grid-gap: 20px;
        grid-template: repeat(2,1fr) / repeat(3, 1fr);
    }
    
    .reporte .seguimiento {
        width: 100%;
        padding-top: 20px;
    }

    .reporte_maquina .seguimiento {
        width: 100%;
        padding-top: 20px;
        display: grid;
        grid-gap: 20px;
        grid-template-columns: repeat(2, 1fr);
    }
    
    .reporte .seguimiento table {
        width: 100%;
        min-width: 100%;
    }

    .reporte_maquina .seguimiento table thead th {
        height: 50px;
    }
    
    .reporte .seguimiento table {
        border-collapse: collapse;
    }
    
    .reporte .seguimiento table th,
    .reporte .seguimiento table td {
        border: 1px solid black;
    }

    .txt-left {
        text-align: left;
    }

    .txt-center {
        text-align: center;
    }

    .txt-justify {
        text-align: justify;
    }

    .txt-right {
        text-align: right;
    }

    .txt-lowercase {
        text-transform: lowercase;
    }

    .txt-capitalize {
        text-transform: capitalize;
    }

    .txt-uppercase {
        text-transform: uppercase;
    }

    .d-grid {
        display: grid;
        grid-gap: 30px;
        width: 100%;
    }

    .grid-gap-0 {
        grid-gap: 0;
    }

    .g-12 {
        grid-template-columns: repeat(12,1fr);
    }

    .g-11 {
        grid-template-columns: repeat(11,1fr);
    }

    .g-10 {
        grid-template-columns: repeat(10,1fr);
    }

    .g-9 {
        grid-template-columns: repeat(9,1fr);
    }

    .g-8 {
        grid-template-columns: repeat(8,1fr);
    }

    .g-7 {
        grid-template-columns: repeat(7,1fr);
    }

    .g-6 {
        grid-template-columns: repeat(6,1fr);
    }

    .g-5 {
        grid-template-columns: repeat(5,1fr);
    }

    .g-4 {
        grid-template-columns: repeat(4,1fr);
    }

    .g-3 {
        grid-template-columns: repeat(3,1fr);
    }

    .g-2 {
        grid-template-columns: repeat(2,1fr);
    }

    .g2-1-9 {
        grid-template-columns: 0.2fr 1.8fr;
    }

    .g2-2-8 {
        grid-template-columns: 0.4fr 1.6fr;
    }

    .g2-3-7 {
        grid-template-columns: 0.6fr 1.4fr;
    }

    .g2-4-6 {
        grid-template-columns: 0.8fr 1.2fr;
    }

    .g2-5-5 {
        grid-template-columns: 1fr 1fr;
    }

    .g2-6-4 {
        grid-template-columns: 1.2fr 0.8fr;
    }

    .g2-7-3 {
        grid-template-columns: 1.4fr 0.6fr;
    }

    .g2-8-2 {
        grid-template-columns: 1.6fr 0.4fr;
    }

    .g2-9-1 {
        grid-template-columns: 1.8fr 0.2fr;
    }

    .g-1 {
        grid-template-columns: 1fr;
    }
/* } */
