<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    .th {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        /* padding: 5px; */
        font-weight: 600;
        font-size: 0.7em;
        cursor: pointer;
    }

    .th:hover { 
        background-color: red;
    }

    /* th:nth-child(even) {
        background-color: rgba(0, 0, 0, 0.2);
    } */

    table .tr:hover {
        background-color: rgba(0, 0, 0, 0.2);
    }
</style>
<body>
    <table id="factores" border="1"></table>
    <script src="../../public/js/ventas/render/render_factor.js"></script>
</body>
</html>