<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../public/css/default.css?1.1">
    <link rel="stylesheet" href="../../public/css/tema_automatico.css">
    <link
        href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp"
        rel="stylesheet">
    <link rel="shortcut icon" type="image/png" href="../fmtor_64.png">
    <link rel="apple-touch-startup-image" href="../fmtor_64.png">
    <link rel="apple-touch-icon" href="../fmtor_64.png">
    <title>Document</title>
</head>
<body>
    <div id="modal-ingresar" class="modal modal-derecha abrir_modal width-05">
        <div class="titulo_modal d-flex justify-between align-content-center">
            <h2>Nueva Salida</h2>
            <button class="btn btn-icon-self btn-transparent material-icons" id="close_modal"
                data-modal="modal-ingresar">close</button>
        </div>
        <div class="contenido_modal">
            <form id="form_reg_salida">
                <div class="d-grid g-2">
                    <span data-pegar="pegar-cliente" class="btn btn-icon d-flex justify-center"
                        title="Pegar información del portapapeles">
                        <i data-pegar="pegar-cliente" class="material-icons-round">content_paste_go</i>
                        Pegar información del cliente
                    </span>
                    <span data-pegar="pegar-todo" class="btn btn-transparent btn-icon d-flex justify-center"
                        title="Pegar información del portapapeles">
                        <i data-pegar="pegar-todo" class="material-icons-round">content_paste_go</i>
                        Pegar todo el pedido
                    </span>
                </div>
                <p style="padding: 15px 0px 30px 0px;" class="txt-right">Información general:</p>
                <div class="d-grid g-2">
                    <div class="d-grid g-1 grid-gap-0">
                        <p>Fecha:</p>
                        <input class="input" type="date" name="Fecha" id="Fecha">
                    </div>
                    <div class="d-grid g-1 grid-gap-0">
                        <p>Fecha de entrega :</p>
                        <input class="input" type="date" name="Fecha_entrega" id="Fecha_entrega">
                    </div>
                </div>
                <p style="padding: 15px 0px 30px 0px;" class="txt-right">Información del cliente:</p>
                <div class="d-grid g-1">
                    <div class="d-grid g-1 grid-gap-0">
                        <p>Cliente:</p>
                        <select class="input" name="Id_Clientes_2" id="Id_Clientes_2">
                            <option value="">Selecciona un cliente</option>
                        </select>
                    </div>
                </div>
                <div class="d-grid g-3">
                    <div class="d-grid g-1 grid-gap-0">
                        <p>No. Parte cliente:</p>
                        <input class="input" type="text" name="Codigo" id="Codigo" placeholder="Ingrese el codigo">
                    </div>
                    <div class="d-grid g-1 grid-gap-0">
                        <p>Pedido Cliente:</p>
                        <input class="input" type="text" name="Pedido_pza" id="Pedido_pza">
                    </div>
                    <div class="d-grid g-1 grid-gap-0">
                        <p>Cantidad de Tornillos:</p>
                        <input class="input" type="number" name="Cantidad_Tornillos" id="Cantidad_Tornillos" value="1">
                    </div>
                </div>
                <div class="d-grid g-2">
                    <div class="d-grid g-1">
                        <p style="padding: 15px 0px 30px 0px;" class="txt-left">Información del tornillo (1):</p>
                    </div>
                    <div class="d-flex justify-right align-content-center">
                        <label data-tornillo="mas" class="btn btn-transparent btn-icon-self material-icons">add</label>
                        <label data-tornillo="menos" class="btn btn-transparent btn-icon-self material-icons">remove</label>
                    </div>
                </div>
                <div id="tornillos">
                    <div class="tornillo" id="tornillo-1">
                        <div class="d-grid g-2">
                            <div class="d-grid g-1">
                                <p style="padding: 15px 0px 30px 0px;" class="txt-left">TORNILLO 1:</p>
                            </div>
                            <div class="d-flex justify-right align-content-center">
                                <label data-pedido="1" class="btn btn-icon-self material-icons">content_paste_go</label>
                            </div>
                        </div>
                        <div class="d-grid g-3">
                            <div class="d-grid g-1 grid-gap-0">
                                <p>Cantidad (millares):</p>
                                <input class="input" type="text" name="Cantidad_millares_1" id="Cantidad_millares_1">
                            </div>
                            <div class="d-grid g-1 grid-gap-0">
                                <p>Descripcion:</p>
                                <input type="text" class="input" name="Descripcion_1" id="Descripcion_1">
                            </div>
                            <div class="d-grid g-1 grid-gap-0">
                                <p>Medida:</p>
                                <input class="input" type="text" name="Medida_1" id="Medida_1">
                            </div>
                        </div>
                        <div class="d-grid g-3">
                            <div class="d-grid g-1 grid-gap-0">
                                <p>Factor:</p>
                                <input class="input" type="text" name="factor_1" id="factor_1">
                            </div>
                            <div class="d-grid g-1 grid-gap-0">
                                <p>Acabado:</p>
                                <select class="input" name="Acabado_1" id="Acabado_1">
                                    <option value="">Selecciona un acabado</option>
                                    <option value="GALVANIZADO">GALVANIZADO</option>
                                    <option value="PULIDO">PULIDO</option>
                                    <option value="ZINCADO NEGRO">ZINCADO NEGRO</option>
                                    <option value="ZINCADO ESPAÑOL">ZINCADO ESPAÑOL</option>
                                    <option value="TROPICALIZADO">TROPICALIZADO</option>
                                    <option value="PAVONADO">PAVONADO</option>
                                    <option value="INOXIDABLE">INOXIDABLE</option>
                                    <option value="NIQUELADO">NIQUELADO</option>
                                </select>
                            </div>
                            <div class="d-grid g-1 grid-gap-0">
                                <p>Material:</p>
                                <input class="input" type="text" name="Material_1" id="Material_1">
                            </div>
                        </div>
                        <div class="d-grid g-3">
                            <div class="d-grid g-1 grid-gap-0">
                                <p>Costo:</p>
                                <input class="input" type="text" name="Precio_millar_1" id="Precio_millar_1">
                            </div>
                            <div class="d-flex align-content-bottom justify-left">
                                <input type="checkbox" name="tratamiento_1" id="tratamiento_1">
                                <label class="lbl-checkbox" for="tratamiento_1"
                                    style="margin: 0px 0px 30px 0px;">T/TERMICO</label>
                            </div>
                        </div>
                        <p style="padding: 15px 0px 30px 0px;" class="txt-right">Orden de Producción:</p>
                        <div class="d-grid g-1">
                            <input type="checkbox" name="sin_op_1" id="sin_op_1">
                            <label class="lbl-checkbox" id="lbl_checkbox_salida" for="sin_op_1" style="margin: 0 0 15px 0;">Sin
                                O.P.:</label>
                        </div>
                        <div class="d-grid g-2">
                            <div class="d-grid g-1 grid-gap-0">
                                <p>No. de Dibujo:</p>
                                <input class="input" type="text" name="Dibujo_1" id="Dibujo_1"
                                    placeholder="Ingrese el numero de plano">
                            </div>
                            <div class="d-grid g-1 grid-gap-0">
                                <p>Cantidad a Producir (millares):</p>
                                <input class="input" type="number" name="cantidad_producir_1" id="cantidad_producir_1">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="opciones d-flex flex-column">
                    <button data-btn="insertar" class="btn" id="btn-form-control-registrar">Registrar</button>
                    <label class="btn btn-transparent txt-center" id="btn-form-control-cancel"
                        data-modal="modal-ingresar">Cancelar</label>
                </div>
            </form>
        </div>
    </div>
    <script>
        const contenedor_tornillos = document.getElementById('tornillos');
        const render_nuevo_tornillo = (t) => {
            t += 1;
            contenedor_tornillos.innerHTML +=   '<div class="tornillo" id="tornillo-'+t+'">'+
                                                    '<div class="d-grid g-2">'+
                                                        '<div class="d-grid g-1">'+
                                                            '<p style="padding: 15px 0px 30px 0px;" class="txt-left">TORNILLO '+t+':</p>'+
                                                        '</div>'+
                                                        '<div class="d-flex justify-right align-content-center">'+
                                                            '<label data-pedido="'+t+'" class="btn btn-icon-self material-icons">content_paste_go</label>'+
                                                        '</div>'+
                                                    '</div>'+
                                                    '<div class="d-grid g-3">'+
                                                        '<div class="d-grid g-1 grid-gap-0">'+
                                                            '<p>Cantidad (millares):</p>'+
                                                            '<input class="input" type="text" name="Cantidad_millares_'+t+'" id="Cantidad_millares_'+t+'">'+
                                                        '</div>'+
                                                        '<div class="d-grid g-1 grid-gap-0">'+
                                                            '<p>Descripcion:</p>'+
                                                            '<input type="text" class="input" name="Descripcion_'+t+'" id="Descripcion_'+t+'">'+
                                                        '</div>'+
                                                        '<div class="d-grid g-1 grid-gap-0">'+
                                                            '<p>Medida:</p>'+
                                                            '<input class="input" type="text" name="Medida_'+t+'" id="Medida_'+t+'">'+
                                                        '</div>'+
                                                    '</div>'+
                                                    '<div class="d-grid g-3">'+
                                                        '<div class="d-grid g-1 grid-gap-0">'+
                                                            '<p>Factor:</p>'+
                                                            '<input class="input" type="text" name="factor_'+t+'" id="factor_'+t+'">'+
                                                        '</div>'+
                                                        '<div class="d-grid g-1 grid-gap-0">'+
                                                            '<p>Acabado:</p>'+
                                                            '<select class="input" name="Acabado_'+t+'" id="Acabado_'+t+'">'+
                                                                '<option value="">Selecciona un acabado</option>'+
                                                                '<option value="GALVANIZADO">GALVANIZADO</option>'+
                                                                '<option value="PULIDO">PULIDO</option>'+
                                                                '<option value="ZINCADO NEGRO">ZINCADO NEGRO</option>'+
                                                                '<option value="ZINCADO ESPAÑOL">ZINCADO ESPAÑOL</option>'+
                                                                '<option value="TROPICALIZADO">TROPICALIZADO</option>'+
                                                                '<option value="PAVONADO">PAVONADO</option>'+
                                                                '<option value="INOXIDABLE">INOXIDABLE</option>'+
                                                                '<option value="NIQUELADO">NIQUELADO</option>'+
                                                            '</select>'+
                                                        '</div>'+
                                                        '<div class="d-grid g-1 grid-gap-0">'+
                                                            '<p>Material:</p>'+
                                                            '<input class="input" type="text" name="Material_'+t+'" id="Material_'+t+'">'+
                                                        '</div>'+
                                                    '</div>'+
                                                    '<div class="d-grid g-3">'+
                                                        '<div class="d-grid g-1 grid-gap-0">'+
                                                            '<p>Costo:</p>'+
                                                            '<input class="input" type="text" name="Precio_millar_'+t+'" id="Precio_millar_'+t+'">'+
                                                        '</div>'+
                                                        '<div class="d-flex align-content-bottom justify-left">'+
                                                            '<input type="checkbox" name="tratamiento_'+t+'" id="tratamiento_'+t+'">'+
                                                            '<label class="lbl-checkbox" for="tratamiento_'+t+'" style="margin: 0px 0px 30px 0px;">T/TERMICO</label>'+
                                                        '</div>'+
                                                    '</div>'+
                                                    '<p style="padding: 15px 0px 30px 0px;" class="txt-right">Orden de Producción:</p>'+
                                                    '<div class="d-grid g-1">'+
                                                        '<input type="checkbox" name="sin_op_'+t+'" id="sin_op_'+t+'">'+
                                                        '<label class="lbl-checkbox" id="lbl_checkbox_salida" for="sin_op_'+t+'" style="margin: 0 0 15px 0;">Sin O.P.:</label>'+
                                                    '</div>'+
                                                    '<div class="d-grid g-2">'+
                                                        '<div class="d-grid g-1 grid-gap-0">'+
                                                            '<p>No. de Dibujo:</p>'+
                                                            '<input class="input" type="text" name="Dibujo_'+t+'" id="Dibujo_'+t+'" placeholder="Ingrese el numero de plano">'+
                                                        '</div>'+
                                                        '<div class="d-grid g-1 grid-gap-0">'+
                                                            '<p>Cantidad a Producir (millares):</p>'+
                                                            '<input class="input" type="number" name="cantidad_producir_'+t+'" id="cantidad_producir_'+t+'">'+
                                                        '</div>'+
                                                    '</div>'+
                                                '</div>'
        }

        const tornillo_mas = () => {
            console.log('Mas');
            const cantidad_tornillos = document.getElementsByClassName('tornillo')
            console.log(cantidad_tornillos.length);
            render_nuevo_tornillo(cantidad_tornillos.length)


        } 

        const tornillo_menos = () => {
            console.log('Menos');
            const cantidad_tornillos = document.getElementsByClassName('tornillo')
            console.log(cantidad_tornillos.length);
            if (cantidad_tornillos.length <= 1) {
                console.log('no se puede borrar');
            } else {
                contenedor_tornillos.removeChild(contenedor_tornillos.lastChild)
            }
        }

        document.addEventListener('click', (evt) => {
            if (evt.target.dataset.tornillo) {
                if (evt.target.dataset.tornillo == 'mas') {
                    tornillo_mas()
                } else if (evt.target.dataset.tornillo == 'menos') {
                    tornillo_menos()
                }
            }
        })
    </script>
</body>
</html>