<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Estilos</title>
    <link rel="stylesheet" href="../../public/css/default.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
    <script>
        const nombres = () => {
            console.log('empleado', btoa('empleado'));
            console.log('nombre_usuario', btoa('nombre_usuario'));
            console.log('rol',btoa('rol'));
            console.log('depto',btoa('depto'));
            console.log('foto',btoa('foto'));
            console.log('puesto',btoa('puesto'));
        }

        // $_SESSION['empleado'] = $empleado;
        // $_SESSION['nombre_usuario'] = $nombre;
        // $_SESSION['rol'] = $rol;
        // $_SESSION['depto'] = $depto;
        // $_SESSION['foto'] = $foto;
        // $_SESSION['puesto'] = $puesto;

        document.addEventListener('DOMContentLoaded', () => {
            nombres()
        })
    </script>
</body>
</html>