<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prueba</title>
    <link rel="stylesheet" href="../../public/css/fmtor_styles.css">
    <link rel="stylesheet" href="css/login.css">
</head>
<body>
    <div class="bienvenida">
        <div class="video">
            <video src="img/planta4.mp4" autoplay loop></video>
        </div>
        <div class="login">
            <div class="contenido_login">
                <p>Bienvenido</p>
                <h1>FORJADORA MEXICANA DE TORNILLOS, S.A. DE C.V.</h1>
                <button class="btn">Iniciar Sesión</button>
            </div>
        </div>
    </div>
</body>
</html>